@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

.navbar{
background-color: #ff4c3b;
}

.nav-link{
    color: white !important;
    font-weight: 600;
}

.nav-link:hover{
    color: #3486f3;
}

.add{
    background-color: #206664 !important;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.add:hover{
    color: black;
    background-color: #ff4c3b !important;
}

.card-title{
    color: #206664
}

small{
    font-weight: bold !important;
}

.icon{
    color: #ff4c3b;
    cursor: pointer;
}

.icon:hover{
    color: #206664;
}

.footer{
    background-color:  #ff4c3b;
    color: white;
    font-weight: 5vw;

}

.signout {
    background-color: #ff4c3b !important;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.signout:hover {
    color: white;
    background-color: #206664 !important;
}